/***************
 GENERAL STYLES
 ***************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 *{
    font-family: 'Roboto', sans-serif;
 }

 /***************
   UTILITES
 ***************/

 .content-h{
    background-color: red;
    height: 50px;
    width: 100%;
 }

 /***************
   SITE SECTION
 ***************/

 /* HEADER */

 header{
    height: 75px;
 }

 /* END OF HEADER */
 /***************
   MEDIA QUERIES
 ***************/

  /**************
    COLORS
 ***************/

 .bg-dark-blue{
    background-color: #051E34;
 }

 .bg-f8f9fa{
    background-color: #F8F9FA;
 }