/***************
 GENERAL STYLES
 ***************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 *{
    font-family: 'Roboto', sans-serif;
 }

 /***************
   UTILITES
 ***************/

 .content-h{
    background-color: red;
    height: 50px;
    width: 100%;
 }

 .content{
    background-color: red;
    height: 400px;
    width: 100%;
 }

 .content2{
    background-color: blue;
    height: 100px;
    width: 40px;
 }

 /***************
   SITE SECTION
 ***************/

 /* HEADER */

 header{
    height: 80px;
 }

 /* END OF HEADER */

 /* MAIN */

 /* SIDEBAR */

 /* END OF SIDEBAR */

 .sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: calc(100vh - 80px);
    
 }

 /* MAIN CONTENT */

 .main-content-container{
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    background-color: #fff;
    overflow-y: auto;
 }

 /* END OF MAIN CONTENT */

 /* END OF MAIN */
 /***************
   MEDIA QUERIES
 ***************/

  /**************
    COLORS
 ***************/

 .bg-dark-blue{
    background-color: #051E34;
 }

 .bg-skyblue{
    background-color: #1B72E8;
 }

 .bg-f8f9fa{
    background-color: #F8F9FA;
 }

