/***************
 GENERAL STYLES
 ***************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 *{
    font-family: 'Roboto', sans-serif;
 }

 a{
   text-decoration: none;
 }

 /***************
   UTILITES
 ***************/

 .content-h{
    background-color: red;
    height: 50px;
    width: 100%;
 }

 .content{
    background-color: red;
    height: 400px;
    width: 100%;
 }

 .content2{
    background-color: blue;
    height: 100px;
    width: 40px;
 }

 /***************
   SITE SECTION
 ***************/

 /* HEADER */

 header{
    height: 80px;
 }

 /* END OF HEADER */

 /* MAIN */

 /* SIDEBAR */

 .sidebar-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80px;
   height: calc(100vh - 80px);
   background-image: url(../img/sidebar-bg.png);
   
}

 .sidebar-list-container ul li a{
   color: white;
 }

 .sidebar-list-container ul li{
   padding: 10px 0px;
 }


 /* END OF SIDEBAR */


 /* MAIN CONTENT */

 .main-content-container{
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    background-color: #fff;
    overflow-y: auto;
 }

 /* END OF MAIN CONTENT */

 /* END OF MAIN */

/**************
   COLORS
***************/

 .bg-dark-blue{
    background-color: #051E34;
 }

 .bg-skyblue{
    background-color: #1B72E8;
 }

 .bg-f8f9fa{
    background-color: #F8F9FA;
 }


/***************
  MEDIA QUERIES
***************/

@media screen and (min-width:992px){

   /* HEADER */

 header{
   height: 80px;
}

/* END OF HEADER */

/* MAIN */

/* SIDEBAR */

.sidebar-container{
  width: 130px;
  height: calc(100vh - 80px);
  background-image: url(../img/sidebar-bg.png);
}

/* END OF SIDEBAR */


/* MAIN CONTENT */

.main-content-container{
   height: calc(100vh - 80px);
   width: calc(100vw - 130px);
}

/* END OF MAIN CONTENT */

/* END OF MAIN */

}
